main {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Styling for background element */
.ink-element {
  position: absolute;
  top: 60%;
  left: 15%;
  transform: translateX(-50%);
  z-index: -1;
  width: 150px;
}
